.body{
  text-align: center;
}
.navbar-box{
  padding: 10px 1px;
  background-color: #444444;
  color:white;
}
.add-space-to-menuoption{
  padding: 1px 30px;
}
.category-image-dimensions{
  width:100%;
}
.categoryMainItem{
  padding: 10px 1px;
}
.product-image-dimensions{
  width: 50%;
}
.product-description{
  padding: 15px 100px;
  text-align:justify;
}
